@import url('https://fonts.googleapis.com/css?family=Urbanist');

body {
    margin: 0;
    background-color: #f6f9f9;
    font-family: Urbanist, -apple-system, Arial !important;
}

.gradient-text {
    background-image: linear-gradient(
            90deg,
            #e42d5a 0%,
            #c93d7d 15.44%,
            #b54695 27.32%,
            #a74e9e 36.91%,
            #9e56a2 48.09%,
            #8d6eb0 58.14%,
            #7b84c1 69.33%,
            #6798d0 77.09%,
            #57a9da 84.17%,
            #59b4e1 92.16%,
            #63bbe6 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}